<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <title>ものものたち（参考資料）</title>
      <link rel="stylesheet" href="../static/home.css">
      <link rel="stylesheet" type="text/css" href="../static/slick.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="../static/slick-theme.css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
   <body>
     <header class="bg-slider">
       <div>
         <h1 class="bg-slider__title">
           <img src="../static/ものものたち-logo.png"
         </h1>
       </div>
     </header>



   　　<section class="textbox">
     <h2>あらたな詩人よ</h2>
      <h5>誰が誰よりどうだとか<br><br>
        誰の仕事がどうしたとか<br><br>
        そんなことを言ってゐるひまがあるのか<br><br>
      　さあわれわれは一つになって</h5>
      </section>
      <section class="textBox1">
        <div id="contents1">
        <h2>交聲詩　海</h2>
        <h4>海のための領分</h4>
      </div>
      <ul class ="fade">
             <li><a href="../static/交聲詩海.pdf"><h2>楽譜資料</h2></a></li>
             <li><a href="../static/交聲詩 海 ー 合唱団OMP.mp3"><h2>音源資料</h2></a></li>
             <li><a href=""><h2>MIDI</h2></a></li>
             <li><a href="sanko.html"><h2>参考文献</h2></a></li>
             <li><a href=""><h2>その他資料</h2></a></li>
      </ul>
      </section>
      <section class="textBox2">
        <div id="contents2">
        <h2>銀河鉄道の夜</h2>
        <h4>銀鉄のための領分</h4>
      </div>
      <ul class ="fade">
        <li><a href="../static/銀河鉄道の夜.pdf"><h2>楽譜資料</h2></a></li>
        <li><a href="../static/Gingatetsudou-no-yoru.mp3"><h2>音源資料</h2></a></li>
        <li><a href=""><h2>MIDI</h2></a></li>
        <li><a href=""><h2>参考文献</h2></a></li>
        <li><a href=""><h2>その他資料</h2></a></li>

      </ul>

      </section>
      <section class="textBox3">
        <div id="contents3">
        <h2>一般資料</h2>
        <h4>その他必要に応じて使用がおすすめされる基礎資料群</h4>

      </div>
        <ul class ="fade">
          <li><a href="../static/交聲詩　海.pdf"><h2>楽譜資料</h2></a></li>
          <li><a href="..static/交聲詩 海 ー 合唱団OMP.mp3"><h2>音源資料</h2></a></li>
          <li><a href=""><h2>MIDI</h2></a></li>
          <li><a href=""><h2>参考文献</h2></a></li>
          <li><a href=""><h2>その他資料</h2></a></li>

        </ul>
      </section>

      <footer>
             <section class="foo">
       <p>posted by t.t Copyright 2018</p>
      </section>
      </footer>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="../static/jquery.bgswitcher.js"></script>
      <script>
        jQuery(function($) {
          $('.bg-slider').bgSwitcher({
            images: ['../static/HIKAKIN1.png','../static/HIKAKIN2.png','../static/HIKAKIN3.png','../static/HIKAKIN4.png','../static/HIKAKIN5.png','../static/HIKAKIN6.png',],
          });
        });
      </script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"src="../static/slick.min.js"></script>
<script type="text/javascript">
$('.fade').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

</script>

</body>
</html>
