<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <title>ものものたち（参考資料）</title>
      <link rel="stylesheet" href="../static/sanko.css">
      <link rel="stylesheet" type="text/css" href="../static/slick.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="../static/slick-theme.css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
   <body>
     <header>
       <div>
         <h1 class="title">
           参考文献
         </h1>
       </div>
     </header>



   　　
      <section class="textBox1">

      <ul class ="fade">
             <li><a href="../static/denki.pdf"><img src=""  width="300px" height="300px" alt="母の伝記"></a></li>
             <li><a href="../static/suiheisen.pdf"><img src=""  width="300px" height="300px" alt="水平線"></a></li>
      </ul>
      </section>
      <section class="textBox2">


      <footer>
             <section class="foo">
       <p>posted by t.t Copyright 2018</p>
      </section>
      </footer>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="../static/jquery.bgswitcher.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"src="../static/slick.min.js"></script>
<script type="text/javascript">
$('.fade').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

</script>

</body>
</html>
